<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:rpc="http://www.lxr.com/schema/rpc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
        http://www.lxr.com/schema/rpc 
        http://www.lxr.com/schema/rpc/rpc-1.0.0.xsd">  
    <bean id="perservice" class="com.it.netty.rpc.service.PersonServiceImpl"></bean>
    <bean id="test1Service" class="Test1ServiceImpl"></bean>
 	<rpc:server id="test" serverPort="8097" zkAddress="127.0.0.1:12181" >
 				<rpc:serviceRegeist class="com.it.netty.rpc.service.PersonServiceImpl" timeout="15000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test1Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test2Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test3Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test4Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test5Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test6Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test7Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test8Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test9Service" timeout="4000"></rpc:serviceRegeist>
 				<rpc:serviceRegeist class="Test10Service" timeout="4000"></rpc:serviceRegeist>
 	</rpc:server>
 <!-- 	<bean id="my" class="MyBeanPostProcessor"></bean> -->
	
</beans>  
